<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../behaviors/article-behavior.html">
<link rel="import" href="../behaviors/user-role-behavior.html">

<link rel="import" href="article-item-component.html">

<script src="../../bower_components/underscore/underscore.js"></script>

<dom-module id="dashboard-article-component">
  <template>

    <style>
      :host .title {
        padding-left: 1em;
        padding-right: 1em;
      }

      :host .title h1 {
        font-size: 2em;
      }

      :host article-item-component {
        position: relative !important;
      }


    </style>

    <firebase-query
      id="article-query"
      path="[[articlePath.options.draft]]"
      data="{{articles}}"
      order-by-child="[[child]]">
    </firebase-query>

    <div class="title">
      <h1>Pending Articles</h1>
    </div>

    <!--<iron-list id="list" items="[]" as="item" scroll-target="[[scrollTarget]]">-->
      <template is="dom-repeat" items="{{articles}}">
        <article-item-component
          article-id$="{{item.$key}}"
          publish-date$="{{item.value}}"
          roles="[[roles]]"
          user="{{user}}">
        </article-item-component>
      </template>
    <!--</iron-list>-->

    <iron-scroll-threshold
      id="scroller"
      on-lower-trigger="loadMoreData"
      lower-threshold="100"
      scroll-target="[[scrollTarget]]">
    </iron-scroll-threshold>

  </template>
  <script>
    Polymer({

      is: 'dashboard-article-component',

      properties: {
        articles: {
          type: Object
        },
        limit: {
          type: Number
        },
        startLimit: {
          type: Number,
          value: 0
        },
        loadMore: {
          type: Boolean
        },
        scrollTarget: {
          type: Object
        },
        child: {
          type: String,
          value: 'value'
        }
      },

      behaviors: [
        Polymer.ArticleBehavior,
        Polymer.UserRoleBehavior
      ]

    });
  </script>
</dom-module>