<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../behaviors/article-behavior.html">
<link rel="import" href="../behaviors/user-role-behavior.html">

<link rel="import" href="article-item-component.html">

<script src="../../bower_components/underscore/underscore.js"></script>

<dom-module id="draft-article-list-component">
  <template>

    <style>
      :host .title {
        padding-left: 1em;
        padding-right: 1em;
      }

      :host .title h1 {
        font-size: 2em;
      }

      :host article-item-component {
        position: relative !important;
      }
    </style>

    <firebase-query
      id="article-query"
      path="[[articlePath.options.draft]]"
      data="{{articles}}"
      order-by-child="[[child]]"
      limit-to-last="[[limit]]">
    </firebase-query>

    <div class="title">
      <h1>Pending Articles</h1>
    </div>

    <iron-list id="list" items="[]" as="item" scroll-target="[[scrollTarget]]">
      <template>
        <article-item-component
          article-id$="{{item.$key}}"
          publish-date$="{{item.value}}"
          roles="[[roles]]"
          user="{{user}}">
        </article-item-component>
      </template>
    </iron-list>

    <iron-scroll-threshold
      id="scroller"
      on-lower-trigger="loadMoreData"
      lower-threshold="100"
      scroll-target="[[scrollTarget]]">
    </iron-scroll-threshold>

  </template>
  <script>
    Polymer({

      is: 'draft-article-list-component',

      properties: {
        articles: {
          type: Object
        },
        limit: {
          type: Number
        },
        startLimit: {
          type: Number,
          value: 0
        },
        loadMore: {
          type: Boolean
        },
        scrollTarget: {
          type: Object
        },
        child: {
          type: String,
          value: 'value'
        }
      },

      behaviors: [
        Polymer.ArticleBehavior,
        Polymer.UserRoleBehavior
      ],

      observers: [
        'addToList(articles.splices)'
      ],

      addToList: function(e) {
        console.log(e);
        // console.log(this.articles)
        for (var i in this.articles) {
          var flag = true;
          for (var j in this.$.list.items) {
            if (this.$.list.items[j].$key === this.articles[i].$key) {
              flag = false;
              break;
            }
          }
          if (flag) {
            this.$.list.splice('items', 0, 0, this.articles[i])
          }
        }

        if (e && e.indexSplices && e.indexSplices[0]) {
          var arr = e.indexSplices[0].removed;
          for (var k in arr) {
            var index = _.findIndex(this.$.list.items, {$key: arr[k].$key})
            if (index >= 0) {
              this.$.list.splice('items', index, 1);
            }
          }
        }

        this.$.list.items.sort(function(a, b){
          return a.value < b.value;
        })

      },

      ready: function() {
        this.$.scroller.setup();
      },

      loadMoreData: function() {
        this.limit = this.limit + 10;
      }

    });
  </script>
</dom-module>