<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../behaviors/user-role-behavior.html">
<link rel="import" href="../behaviors/open-data-behavior.html">

<link rel="import" href="open-data-list-component.html">

<dom-module id="home-page-open-data-component">
  <template>

    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
      :host .content {
        min-width: 300px;
        max-width: 1000px;
      }
    </style>

    <firebase-query
      id="open-data-query"
      path="[[openDataPath.options.published]]"
      data="{{openData}}"
      order-by-child="[[child]]"
      limit-to-last="5">
    </firebase-query>

    <div class="horizontal layout">
      <div class="flex"></div>
      <div class="flex-4 content">
        <div class="title">
          <h1>Open Data Files</h1>
        </div>

        <template is="dom-repeat" items="{{openData}}">
          <template is="dom-if" if="{{_checkChild(item)}}">
            <open-data-item-component
              open-data-id$="{{item.$key}}"
              publish-date$="{{item.value}}"
              roles="[[roles]]"
              user="{{user}}">
            </open-data-item-component>
          </template>
        </template>
      </div>
      <div class="flex"></div>
    </div>

    <div class="horizontal layout">
      <div class="flex"></div>

      <div class="flex"></div>
    </div>



  </template>
  <script>
    Polymer({

      is: 'home-page-open-data-component',

      properties: {

        scrollTarget: {
          type: Object
        },
        child: {
          type: String,
          value: 'value'
        },
        queryParams: {
          type: Object
        }
      },

      observers: [
        '_routeActionChanged(queryParams)'
      ],

      _checkChild: function(item) {
        return item[this.child]
      },

      _routeActionChanged: function(action) {
        // console.log(action)
        this.child = action.child || 'value';
      },

      behaviors: [
        Polymer.UserRoleBehavior,
        Polymer.OpenDataBehavior
      ]

    });
  </script>
</dom-module>