<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../behaviors/user-role-behavior.html">

<link rel="import" href="open-data-list-component.html">

<dom-module id="open-data-all-component">
  <template>

    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
      :host .open-data {
        min-width: 300px;
      }
    </style>

    <div class="horizontal layout">
      <div class="flex"></div>
      <open-data-list-component
        class="flex-4 open-data"
        limit="[[limit]]"
        roles="[[roles]]"
        user="{{user}}"
        query-params="{{queryParams}}"
        scroll-target="[[scrollTarget]]"
        load-more>
      </open-data-list-component>
      <div class="flex"></div>
    </div>

  </template>
  <script>
    Polymer({

      is: 'open-data-all-component',

      properties: {
        limit: {
          type: Number,
          value: 3
        },
        scrollTarget: {
          type: Object
        }
      },



      behaviors: [
        Polymer.UserRoleBehavior
      ],

    });
  </script>
</dom-module>