<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">


<link rel="import" href="../behaviors/utils-behavior.html">
<link rel="import" href="../behaviors/user-role-behavior.html">



<dom-module id="profile-body-component">
  <template>

    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
      :host {
        width: 100%;
      }

      :host .profile-header-container {
        background-color: #BBBBBB;
        padding: 10px;
      }

      :host .profile-header, .profile-body {
        min-width: 300px;
        max-width: 1000px;
      }

      :host .profile-picture {
        width: 200px;
        height: 200px;
        margin-right: 20px;
      }

      :host .buttons a {
        text-decoration: none;
        color: inherit;
      }

      :host table {
        border: 1px solid black;
        border-spacing: 0px;
      }

      :host td, th {
        border: 1px solid black;
        padding: 10px;
        margin: 0;
      }

      :host tr {
        padding: 0;
        margin: 0;
      }

      :host .photoblog-item {
        min-width: 150px;
        cursor: pointer;
      }

      :host .photoblog-item iron-image{
        width: 100%;
        height: 150px;
      }

      :host #photoblog-dialog {
        width: 70%;
        max-width: 540px;
      }

      :host #photoblog-dialog-image {
        width: 100%;
        max-width: 500px;
      }

      :host .caption {
        text-align: center;
      }

      :host .category-title {
        font-size: 0.8em;
      }

      :host .profile-body-text {
        min-width: 300px;
      }

      :host .by-line {
        font-size: 0.8em;
      }

      :host .category {
        font-size: 0.8em;
        margin-left: 5px;
      }

      :host .profile-name {
        margin-bottom: 0px;
      }
    </style>

    <firebase-document
      id="data-ref"
      data="{{profile}}"
      path$="[[userPath.profiles]]/[[user.uid]]">
    </firebase-document>
    <firebase-document
      id="media-body-ref"
      path$="[[userPath.media]]/[[user.uid]]"
      data="{{media}}">
    </firebase-document>

    <firebase-document
      id="category-ref"
      path$="[[userPath.categories]]"
      data="{{categories}}">
    </firebase-document>

    <template is="dom-if" if="{{_forceZero(profile)}}">
      <div class="horizontal layout profile-header-container">
        <div class="flex"></div>
        <div class="flex-3 profile-header">
          <div class="horizontal layout center">
            <iron-image
              class="profile-picture"
              sizing="cover"
              src="{{profile.image}}"
              preload
              fade
            >
            </iron-image>
            <div class="flex">
              <h2 class="profile-name">{{profile.displayName}}</h2>
              <div class="by-line horizontal layout">
                Email: {{profile.email}}
              </div>
              <template is="dom-if" if="{{profile.contact}}">
                <div class="by-line horizontal layout">
                  Contact Number: {{profile.contact}}
                </div>
              </template>
              <hr/>
              <div class="horizontal layout">
                <div class="category-title">
                  Category: {{_getCategory(profile, categories)}}
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="flex"></div>
      </div>

      <div class="horizontal layout profile-body-container">
        <div class="flex"></div>
        <div class="flex-3 profile-body">
          <div class="horizontal layout">
            <div class="flex-3 profile-body-text">

              <h3>Address:</h3>
              <div class="address">
                {{profile.address}}
              </div>
              <h3>About me:</h3>
              <marked-element markdown="{{profile.body}}">
                <div class="markdown-html"></div>
              </marked-element>
              <div class="buttons">
                <template is="dom-if" if="{{!checkPermission(roles.member)}}">
                  <template is="dom-if" if="{{!checkPermission(roles.pending)}}">
                    <paper-button on-tap="requestPending">Request for Membership</paper-button>
                  </template>
                  <template is="dom-if" if="{{checkPermission(roles.pending)}}">
                    <paper-button on-tap="cancelPending">Cancel Request for Membership</paper-button>
                  </template>
                </template>

              </div>
              <div class="buttons">

                <a href="/home-page/">
                  <paper-button>Go back</paper-button>
                </a>
                <template is="dom-if" if="{{user}}">
                  <template is="dom-if" if="{{isEditorOpen}}">
                    <a href="/profile-page/view">
                      <paper-button>Close Editor</paper-button>
                    </a>
                  </template>
                  <template is="dom-if" if="{{!isEditorOpen}}">
                    <a href="/profile-page/edit">
                      <paper-icon-button icon="editor:mode-edit"></paper-icon-button>
                    </a>
                  </template>
                </template>
              </div>
            </div>
            <div class="flex-2">
              <h3>Profile Album: </h3>
              <div class="horizontal layout wrap">
                <template is="dom-repeat" items="{{photoblog}}">
                  <paper-material class="photoblog-item flex">
                    <iron-image
                      src="{{item.downloadURL}}"
                      data-caption$="{{item.caption}}"
                      sizing="cover"
                      preload
                      fade
                      on-tap="_openPhotoBlog"
                    ></iron-image>
                  </paper-material>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="flex"></div>
      </div>
    </template>
    <template is="dom-if" if="{{!_forceZero(profile)}}">
      <div class="horizontal layout">
        <div class="flex"></div>
        <div class="center flex" style="margin-top: 200px; text-align: center">
          <paper-spinner alt="Loading Profile" active></paper-spinner>
        </div>
        <div class="flex"></div>
      </div>
    </template>


    <paper-toast id="toaster"></paper-toast>

  </template>
  <script>
    Polymer({

      is: 'profile-body-component',

      properties: {
        profile: {
          type: Object
        }
      },

      observers: [
        // 'check(profile)'
      ],

      behaviors: [
        Polymer.UtilsBehavior,
        Polymer.UserRoleBehavior
      ],

      check: function(o) {
        console.log(o)
      },

      _getCategory: function(p, d) {
        var c = p.categories;
        if (!c) return '';
        var arr = [];
        for (var i in c) {
          // console.log(c[i], i)
          if (d[i] && c[i].value) {
            arr.push(d[i].name)
          }
        }
        return arr.join(', ')
      },

      _categoryName: function(categories, key) {
        console.log(categories, key)
        if (categories[key]) {
          return categories[key].name
        }
      },

      requestPending: function() {
        firebase.database().ref(this.userPath.options.pending + '/' + this.user.uid).set({
          value: this._todayUTC
        }).then(function() {
          this.$.toaster.show('Request for membership has been sent')
        }.bind(this)).catch(this._catchError.bind(this));
      },

      cancelPending: function() {
        firebase.database().ref(this.userPath.options.pending + '/' + this.user.uid).remove().then(function() {
          this.$.toaster.show('Request for membership has been sent')
        }.bind(this)).catch(this._catchError.bind(this));
      },

      // /(youtu(?:\.be|be\.com)\/(?:.*v(?:\/|=)|(?:.*\/)?)([\w'-]+))/i

    });
  </script>
</dom-module>